///////////////////////////////////////////////////////////////////////////////
// # _settings.color.scss
//
// Your color palette should sit here and always follow the same namespace:
// `$color-`
///////////////////////////////////////////////////////////////////////////////
$color-background		: #000000;
$color-back-background	: #ffffff;
$color-foreground		: #151515;
$color-background-grey	: #6B6970;
$lightGrey				: #B0AEBB;
$white					: #ffffff;



$font-color				: #ffffff;
$font-color-back		: #000000;
$redJavascript 			: #DF3966;
$blueJavascript 		: #6FCDE7;
$yellowJavascript 		: #D8CF67;
$greenJavascript 		: #A2D42C;
$orangeJavascript 		: #FF8212;
$yellowJavascript 		: #DDA53A;
