/**
 * @module:   info
 * @js:       ./source/js/module/info/info.js
 * @html:     ./source/js/module/info/info.html
 */


@include module("info") {
    margin-left: 70px;

    &__text{
        font-size: 20px;
        line-height: 25px;
    }

    .indent-one{
        margin-left: 40px;
    }

    .indent-two{
        margin-left: 80px;
    }
}
