/**
 * @module:   projects
 * @js:       ./source/js/module/projects/projects.js
 * @html:     ./source/js/module/projects/projects.html
 */


@include module("projects") {

    .project{
        display: inline-block;
        margin: 0 auto;
        vertical-align: top;
        width: 300px;
        padding-bottom: 25px;
        text-align: center;
        // border: 1px solid white;
    }

    .websiteThumbnail{
        height: 110px;
        width: 220px;
        border: 1px solid white;
        margin: 0 auto;

        &:hover{
            background-color: rgba(1,2,1,0.8);
            z-index: 2;
        }

        &.websiteThumbnail-dot{
            background: url(../img/dot-website.jpg) no-repeat;
            background-size: 100% auto;
        }
        &.websiteThumbnail-masAurelia{
            background: url(../img/masaurelia-website.jpg) no-repeat;
            background-size: 100% auto;
        }
        &.websiteThumbnail-tfl{
            background: url(../img/tfl-thumbnail.jpg) no-repeat;
            background-size: 100% auto;
        }
        &.websiteThumbnail-nepal{
            background: url(../img/nepal-thumbnail.jpg) no-repeat;
            background-size: 100% auto;
        }
        &.websiteThumbnail-mindbody{
            background: url(../img/mindbody-website.jpg) no-repeat;
            background-size: 100% auto;
        }
        &.websiteThumbnail-neighbourhood{
            background: url(../img/neighbourhood-website.jpg) no-repeat;
            background-size: 100% auto;
        }
        &.websiteThumbnail-jlr{
            background: url(../img/jlr-website.jpg) no-repeat;
            background-size: 100% auto;
        }
    }

    h3{
        padding-top: 10px;
    }
}

// @media screen and (min-width:800px){
