<!-- <div class="flip-container"> -->
    <!-- <div class="flipper {{flip ? 'change': ' '}}"> -->
        {{#view == "home"}}
            <div class="front opening">
                <ui-openingPage />
            </div>
        {{/}}

        <!-- <div class="back"> -->
            <ui-nav />

            {{#view == "projects"}}
	            <ui-projects />
            {{/}}
            {{#view == "info"}}
	            <ui-info />
            {{/}}
            <!-- <ui-info /> -->
            <!-- <ui-projects /> -->
            <!-- <ui-languages /> -->
            <ui-footer />
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->
